.container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    padding: var(--spacing-md) 0;
    text-align: center;

    .block__logos {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: var(--spacing-sm);
        .logo__contaier {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            .logo__client {
                cursor: pointer;
                opacity: 1;
                transition:opacity .3s ease-in-out;   
            }
    
            .logo__client--no-color {
                position: absolute;
                cursor: pointer;
                opacity: 0;
                transition:opacity .3s ease-in-out;
            }
        }
        .logo__contaier:hover .logo__client {
            opacity: 0;
            transition:opacity .3s ease-in-out;
        }  
        .logo__contaier:hover .logo__client--no-color {
            opacity: 1;
            transition:opacity .3s ease-in-out;
        }  
    }

}

/* ? Breakpoint MD */
@media screen and (min-width:461px) and (max-width:1024px) {
    .container {
        .block__logos {
            display: grid;
            grid-template-columns:repeat(5,1fr);
            grid-template-rows: repeat(2,1fr);
            padding: var(--spacing-md) 0;
            gap: var(--spacing-sm);
        
            img {
            
                width: 100%;
                height: fit-content;
            }
        }
    }
    
}

/* ? Breakpoint SM */
@media screen and (max-width:460px) {
    .container {
        .block__logos {
            display: grid;
            grid-template-columns:repeat(2,1fr);
            grid-template-rows: repeat(5,1fr);
            padding: var(--spacing-md) 0;
            gap: var(--spacing-sm);
        
            img {
            
                width: 100%;
                height: fit-content;
            }
        }
    }
    
}