.hero {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--spacing-md);
    align-items: center;

    .block__left {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-md);
        
        .block__left--header {
            display: flex;
            flex-direction: column;
        }

        .li__container {
            display: flex;
            align-items: flex-start;
            gap: var(--spacing-xs);

        }
    }

    .block__right {
        position: relative;

        img {
            opacity: 1;
            width: 100%;
            height: auto;
        }

    }

}

/* ? Breakpoint SM */
@media screen and (max-width:460px) {
    .hero {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:auto auto;
        gap: var(--spacing-lg);
        
        .block__left {
            width: 100%; 
            grid-area: 2;
            
            a {
                box-sizing: border-box;
                width: 100%;
            }
        }
    
        .block__right {
            position: relative;
            min-height: fit-content;
            grid-area: 1;
    
            img {
                width: 100%;
                height: auto;
            }
    
        }
    
    }
    .bg--block {
        top: 45%;
        left: 15%;
        border-top-left-radius: 120rem;
    }
    
}

/* ? Breakpoint MD */
@media screen and (min-width:461px) and (max-width:1024px) {
    .hero {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:auto auto;
        gap: var(--spacing-lg);
        
        .block__left {
            width: 100%; 
            grid-area: 2;
            
            a {
                box-sizing: border-box;
                width: 100%;
            }
        }
    
        .block__right {
            position: relative;
            min-height: fit-content;
            grid-area: 1;
    
            img {
                width: 100%;
                height: auto;
            }
    
        }
    
    }
    .bg--block {
        top: 45%;
        left: 15%;
        border-top-left-radius: 120rem;
    }
    
}