.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-xl);

    .block__container {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .block__bg--hero {
        position: relative;
    }
    .block__bg--solutions {
        background-color: var(--fd-bg-primary-blocks);
    }
    .block__bg--plans {
        background-color: var(--fd-bg-primary-blocks);
    }
    .block__bg--my-clients {
        background-color: var(--fd-bg-primary-blocks);
    }
    
}