@import './variables-primitives';

.theme--dark {
    // * ---------------------------------- Primary ------------------------------------------
    --fd-color-primary                                                              :#{$grey-50};
    --fd-color-secondary                                                            :#{$grey-400};
    --fd-color-tertiary                                                             :#{$grey-300};
    --fd-color-quaternary                                                           :#{$grey-100};
    --fd-color-quintary                                                             :#{$grey-500};
    
    // * ---------------------------------- Background ------------------------------------------
    --fd-color-bg-primary                                                          :#{$grey-600};
    --fd-color-bg-secondary                                                        :#{$grey-400};
    --fd-color-bg-tertiary                                                         :#{$grey-700};
    --fd-color-bg-quaternary                                                       :#{$grey-500};
    --fd-color-bg-quintary                                                         :#{$grey-750};
    
    // * ---------------------------------- Brand ------------------------------------------------
    --fd-color-brand-primary                                                       :#{$brand-50};
    --fd-color-brand-secondary                                                     :#{$brand-100};
    --fd-color-brand-tertiary                                                      :#{$brand-200};
    --fd-color-brand-quaternary                                                    :#{$brand-300};
    
    // * ---------------------------------- Gradient ------------------------------------------
    --fd-color-gradient-primary                                                     :#{$grey-700};
    --fd-color-gradient-secondary                                                   :#{$grey-650};
    
    // * ---------------------------------- Lang ------------------------------------------------
    --fd-color-lang-primary                                                         :#{$grey-200};
    --fd-color-lang-secondary                                                       :#{$grey-600};
    --fd-color-lang-tertiary                                                        :#{$grey-400};
    //  
    // ?                                    Buttons Default
    //  
    // * ---------------------------------- Button / Default -------------------------------------
    --fd-btn-bg-color                                                               :#{$brand-300};
    --fd-btn-color                                                                  :#{$grey-50};

    // * ---------------------------------- Hover ------------------------------------------------
    --fd-btn-hover-bg-color                                                         :#{$brand-200};
    --fd-btn-hover-color                                                            :#{$grey-100};

    // * ---------------------------------- Active -----------------------------------------------
    --fd-btn-active-bg-color                                                        :#{$brand-500};
    --fd-btn-active-color                                                           :#{$grey-0};

    // * ---------------------------------- Focus -----------------------------------------------
    --fd-btn-focus-outline                                                          :#{$grey-200};

    //
    // * ---------------------------------- Button / Outline Primary ----------------------------
    //
    --fd-btn-outline-primary-bg-color                                               :transparent;
    --fd-btn-outline-primary-txt-color                                              :#{$grey-500};
    --fd-btn-outline-primary-outline-color                                          :#{$grey-600};

    // * ---------------------------------- Hover ------------------------------------------------
    --fd-btn-outline-primary-hover-bg-color                                         :transparent;
    --fd-btn-outline-primary-hover-txt-color                                        :#{$grey-200};
    --fd-btn-outline-primary-hover-outline-color                                    :#{$grey-200};

    // * ---------------------------------- Active -----------------------------------------------
    --fd-btn-outline-primary-active-bg-color                                        :#{$grey-200};
    --fd-btn-outline-primary-active-txt-color                                       :#{$grey-0};
    --fd-btn-outline-primary-active-outline-color                                   :transparent;
    
    // * ---------------------------------- Focus ------------------------------------------------
    --fd-btn-outline-primary-focus-outline                                          :#{$grey-200};
    //
    //
    // * ---------------------------------- Button / Outline Secondary --------------------------
    //
    --fd-btn-outline-secondary-bg-color                                             :transparent;
    --fd-btn-outline-secondary-txt-color                                            :#{$grey-50};
    --fd-btn-outline-secondary-outline-color                                        :#{$grey-100};

    // * ---------------------------------- Hover ------------------------------------------------
    --fd-btn-outline-secondary-hover-bg-color                                       :transparent;
    --fd-btn-outline-secondary-hover-txt-color                                      :#{$grey-200};
    --fd-btn-outline-secondary-hover-outline-color                                  :#{$grey-200};

    // * ---------------------------------- Active -----------------------------------------------
    --fd-btn-outline-secondary-active-bg-color                                      :#{$grey-200};
    --fd-btn-outline-secondary-active-txt-color                                     :#{$grey-0};
    --fd-btn-outline-secondary-active-outline-color                                 :transparent;
    
    // * ---------------------------------- Focus ------------------------------------------------
    --fd-btn-outline-secondary-focus-outline                                        :#{$grey-200};
    //
    // * ---------------------------------- Menu ------------------------------------------------
    //
    --fd-color-txt-menu                                                             :#{$grey-300};
    --fd-color-txt-hover-menu                                                       :#{$grey-50};
    --fd-color-txt-active-menu                                                      :#{$grey-400};
    --fd-color-txt-active-route-menu                                                :#{$grey-100};
    //
    // * ---------------------------------- Menu Movile ----------------------------------------
    //
    --fd-color-cross                                                                :#{$grey-50};
    --fd-color-bg-sidebar                                                           :#{$grey-600};
    --fd-color-txt-sidebar                                                          :#{$brand-100};
    //
    // * ---------------------------------- Toggle ----------------------------------------------
    //
    --fd-color-bg-toggle                                                            :#{$grey-600};
    --fd-color-border-toggle                                                        :#{$grey-400};
    --fd-color-txt-toggle                                                           :#{$grey-100};
    
    --fd-color-bg-toggle-dropdown                                                   :#{$grey-700};
    --fd-color-border-toggle-dropdown                                               :#{$grey-400};
    --fd-color-txt-toggle-dropdown                                                  :#{$grey-100};

    --fd-color-bg-hover-toggle-dropdown                                             :#{$grey-500};
    --fd-color-txt-hover-toggle-dropdown                                            :#{$grey-100};

    --fd-color-txt-selected-toggle                                                  :#{$grey-200};
    --fd-color-bg-selected-toggle                                                   :#{$grey-600};

    --fd-color-txt-hover-selected-toggle                                            :#{$grey-200};
    --fd-color-bg-hover-selected-toggle                                             :#{$grey-500};
    //
    // * ---------------------------------- Helpers ----------------------------------------------
    //
    --fd-color-success                                                              :#{$success-600};
    --fd-color-warning                                                              :#{$warning-600};
    --fd-color-danger                                                               :#{$danger-600};
    --fd-color-title                                                                :#{$grey-0};
    --fd-bg-blocks                                                                  :#{$grey-750};
    --fd-color-title-primary                                                        :#{$brand-300};
    --fd-color-subtitle-brand-primary                                               :#{$grey-300};
    --fd-color-subtitle-primary                                                     :#{$brand-100};
    //
    // * ---------------------------------- Cards ----------------------------------------------
    //
    --fd-color-bg-card                                                              :#{$grey-700};
    --fd-color-brand-bg-card                                                        :#{$brand-50};
    --fd-color-border-card                                                          :#{$grey-500};
    --fd-color-txt-primary-card                                                     :#{$grey-0};
    --fd-color-txt-brand-primary-card                                               :#{$brand-100};
    --fd-color-txt-card                                                             :#{$grey-100};
}