<div class="container block">
    <div class="header">
        <p class="
            font__size--h5
            font__weight--bold
            font__color--primary
            ">
            {{ 'home.clients.title' | translate:translateService.GetLang }}
        </p>

    </div>

    <div class="block__logos">
        @for ( client of clients(); track $index) {
            <img [src]="'../../../../assets/theme/'+themeService.GetTheme+'/logos/clients/logo-'+client.url+'.svg'" alt="logo">
        }
    </div>
</div>